::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}

::selection {
    background: #d69764;
}

body {
    background-color: #393d40 !important;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

#cover {
    background: url("../media/cover.gif") no-repeat right top;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    position: relative;
    top: -55px;
    width: 100%;
}

.navigation {
    height: auto;
    min-height: 120px;
    max-width: 100%;
    background-color: rgba(241, 237, 234, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 10000;
}

ul {
    padding: 0;
}

li {
    color: #14213D;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    right: 21px;
}

li a {
    text-decoration: none !important;
    color: #000;
}

.href {
    margin: 45px 20px 20px 20px;
    text-align: center;
}

#logo {
    color: #d69764;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    padding: 0px 50px;
    margin-top: 25px;
    text-align: center;
}

.cover-content {
    color: #fff;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 280px;
    width: 70%;
}

.cover-content a {
    text-decoration: none;
    max-height: 2em !important;
    font-size: 2em;
}

.cover-content a:hover {
    text-decoration: none;
    cursor: text;
    color: #fff;
}

.cover-content h1 {
    color: #FFF;
    font-family: 'Amatic SC', cursive;
    font-size: 72px;
    line-height: 60px;
    padding: 20px 10px;
    text-align: center;
    font-weight: 400;
}

.cover-content h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
}

.scrolldown {
    background-color: #ee7500 !important;
    height: 3em;
}

h3 {
    color: #14213D;
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    color: #FCA311;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    margin: 0px 0px 50px 0px;
}

p {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #ee7500;
    color: #FFF;
    font-family: 'Amatic SC', cursive;
    padding: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    color: #ee7500;
    background-color: rgba(255, 255, 255, 1);
}

.products {
    background-color: #636363;
    color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    padding: 20px 0px;
    text-align: center;
}

.products p {
    color: rgba(255, 255, 255, 0.7);
}

.product {
    text-align: center;
    margin-bottom: 60px;
}

.blue {
    font-size: 3em;
}

.product a {
    font-size: 2em;
}

.product a:hover {
    text-decoration: none;
    color: cadetblue;
    color: #ee7500;
}

.product a:focus {
    text-decoration: none;
    color: #fff;
}

.product img {
    width: 100%;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.product img:hover {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

footer {
    color: rgb(241, 237, 234);
    background-color: #eeeff1;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
}

.fa {
    color: black;
}

.fa:hover {
    color: cadetblue;
}

#cont abbr[title] {
    border-bottom: none;
    !important;
}

.bottom {
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3em;
}

.fa-heart {
    color: crimson;
}

@media only screen and (max-width:1000px) {
    .product p {
        font-size: 1.3em;
    }
    .products h3 {
        font-size: 2.1em;
    }
}
